/* Reset básico para remover margens e paddings padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;  /* Fundo claro */
    color: #333;  /* Cor padrão do texto */
}

/* Estilos para o cabeçalho */
header {
    background-color: black;  /* Cor de fundo azul */
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* Estilos para o menu de navegação */
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Seções principais */
section {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra sutil para destacar as seções */
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

section p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

section img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 100%;  /* Para tornar as imagens responsivas */
    height: auto;
}

/* Botões */
button {
    background-color: #0066cc;  /* Azul forte */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0052a3;  /* Azul mais escuro ao passar o mouse */
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    section {
        padding: 10px;
    }

    button {
        width: 100%;
        padding: 15px 0;
    }
}
